# Database Configuration (MySQL 8.4)
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=smart_attendance_db

# Security & JWT
JWT_SECRET=super_secret_attendance_system_key_2026_cse_project_secure
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Biometric & Anti-Spoofing Thresholds
FACE_SIMILARITY_THRESHOLD=0.60
LIVENESS_THRESHOLD=0.85
ATTENDANCE_COOLDOWN_MINUTES=60
